In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_column',None)

import scipy
from scipy import stats
from scipy.stats import chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.stattools import durbin_watson
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import GridSearchCV


from sklearn.ensemble import RandomForestRegressor

from sklearn import metrics
from sklearn.metrics import confusion_matrix , classification_report,roc_curve,auc,roc_auc_score,mean_squared_error

import warnings 
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("FINAL_SPINNY_900.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Car_Name              976 non-null    object
 1   Make                  976 non-null    object
 2   Model                 976 non-null    object
 3   Make_Year             976 non-null    int64
 4   Color                 976 non-null    object
 5   Body_Type             976 non-null    object
 6   Mileage_Run           976 non-null    float64
 7   No_of_Owners          976 non-null    object
 8   Seating_Capacity      976 non-null    int64
 9   Fuel_Type             976 non-null    object
 10  Fuel_Tank_Capacity_L  976 non-null    int64
 11  Engine_Type           976 non-null    object
 12  CC_Displacement       976 non-null    int64
 13  Transmission          976 non-null    object
 14  Transmission_Type     976 non-null    object
 15  Power_BHP             976 non-null    float64
 16  Torque_Nm             976 non-null    float64
 17  Mileage_kmpl          976 non-null    float64
 18  Emission              976 non-null    object
 19  Price                 976 non-null    float64
dtypes: float64(5), int64(4), object(11)
memory usage: 152.6+ KB

# make

In [4]:
data.Make.nunique()

16

In [5]:
data.Make.value_counts()

Hyundai          305
Maruti Suzuki    293
Honda             73
Renault           68
Ford              52
Toyota            50
MG Motors         35
Volkswagen        29
Tata              23
Mahindra          18
Kia                8
Chevrolet          6
Skoda              5
Nissan             4
Jeep               4
Datsun             3
Name: Make, dtype: int64

In [6]:
data['Make']= data.get('Make').replace('Hyundai', 16)
data['Make']= data.get('Make').replace('Maruti Suzuki', 15)
data['Make']= data.get('Make').replace('Honda', 14)
data['Make']= data.get('Make').replace('Renault', 13)
data['Make']= data.get('Make').replace('Ford', 12)
data['Make']= data.get('Make').replace('Toyota', 11)
data['Make']= data.get('Make').replace('MG Motors', 10)
data['Make']= data.get('Make').replace('Volkswagen', 9)
data['Make']= data.get('Make').replace('Tata', 8)
data['Make']= data.get('Make').replace('Mahindra', 7)
data['Make']= data.get('Make').replace('Kia', 6)
data['Make']= data.get('Make').replace('Chevrolet', 5)
data['Make']= data.get('Make').replace('Skoda', 4)
data['Make']= data.get('Make').replace('Nissan', 3)
data['Make']= data.get('Make').replace('Jeep', 2)
data['Make']= data.get('Make').replace('Datsun', 1)

In [7]:
data.Make.value_counts().head()

16    305
15    293
14     73
13     68
12     52
Name: Make, dtype: int64

# model

In [8]:
data.Model.nunique()

87

# Make_year

In [9]:
data.Make_Year.nunique()

12

In [10]:
data.Make_Year.value_counts()

2017    137
2020    135
2019    124
2018    112
2016     92
2015     85
2014     73
2021     69
2013     53
2011     44
2012     38
2022     14
Name: Make_Year, dtype: int64

# color

In [11]:
data.Color.nunique()

15

In [12]:
data.Color.value_counts()

white     200
red       187
grey      164
silver    132
blue      128
brown      70
black      35
orange     19
bronze     12
beige       9
yellow      6
purple      6
golden      3
maroon      3
green       2
Name: Color, dtype: int64

In [13]:
data['Color']= data.get('Color').replace('white', 15)
data['Color']= data.get('Color').replace('red', 14)
data['Color']= data.get('Color').replace('grey', 13)
data['Color']= data.get('Color').replace('silver', 12)
data['Color']= data.get('Color').replace('blue', 11)
data['Color']= data.get('Color').replace('brown', 10)
data['Color']= data.get('Color').replace('black', 9)
data['Color']= data.get('Color').replace('orange', 8)
data['Color']= data.get('Color').replace('bronze', 7)
data['Color']= data.get('Color').replace('beige', 6)
data['Color']= data.get('Color').replace('yellow', 5)
data['Color']= data.get('Color').replace('purple', 4)
data['Color']= data.get('Color').replace('golden', 3)
data['Color']= data.get('Color').replace('maroon', 2)
data['Color']= data.get('Color').replace('green', 1)

# Body_Type

In [14]:
data.Body_Type.nunique()

5

In [15]:
data.Body_Type.value_counts()

hatchback    484
sedan        227
suv          206
muv           38
crossover     21
Name: Body_Type, dtype: int64

In [16]:
data['Body_Type']= data.get('Body_Type').replace('hatchback', 5)
data['Body_Type']= data.get('Body_Type').replace('sedan', 4)
data['Body_Type']= data.get('Body_Type').replace('suv', 3)
data['Body_Type']= data.get('Body_Type').replace('muv', 2)
data['Body_Type']= data.get('Body_Type').replace('crossover', 1)

# Mileage_Run

In [17]:
data.Mileage_Run.nunique()

878

In [18]:
data.Mileage_Run.describe()

count      976.000000
mean     41571.195697
std      24390.995134
min       1117.000000
25%      22676.750000
50%      37570.500000
75%      57421.250000
max      99495.000000
Name: Mileage_Run, dtype: float64

# No_of_Owners

In [19]:
data.No_of_Owners.nunique()

3

In [20]:
data.No_of_Owners.value_counts()

1st    818
2nd    154
3rd      4
Name: No_of_Owners, dtype: int64

In [21]:
data['No_of_Owners']= data.get('No_of_Owners').replace('1st', 3)
data['No_of_Owners']= data.get('No_of_Owners').replace('2nd', 2)
data['No_of_Owners']= data.get('No_of_Owners').replace('3rd', 1)

# Seating_Capacity

In [22]:
data.Seating_Capacity.nunique()

5

In [23]:
data.Seating_Capacity.value_counts()

5    930
7     39
8      5
6      1
4      1
Name: Seating_Capacity, dtype: int64

# Fuel_Type

In [24]:
data.Fuel_Type.nunique()

3

In [25]:
data.Fuel_Type.value_counts()

petrol        783
diesel        191
petrol+cng      2
Name: Fuel_Type, dtype: int64

In [26]:
data['Fuel_Type']= data.get('Fuel_Type').replace('petrol', 3)
data['Fuel_Type']= data.get('Fuel_Type').replace('diesel', 2)
data['Fuel_Type']= data.get('Fuel_Type').replace('petrol+cng', 1)

# Fuel_Tank_Capacity_L

In [27]:
data.Fuel_Tank_Capacity_L.nunique()

21

In [28]:
data.Fuel_Tank_Capacity_L.value_counts()

35    162
45    158
43    140
40    102
37     99
60     80
42     56
50     37
28     29
52     27
32     27
55     15
27     14
48     14
70      5
36      4
44      2
41      2
66      1
24      1
15      1
Name: Fuel_Tank_Capacity_L, dtype: int64

# Engine_Type

In [29]:
data.Engine_Type.nunique()

143

In [30]:
data.Engine_Type.value_counts().head(10)

Kappa VTVT Petrol Engine    77
Petrol Engine               45
K10B                        38
FWD                         35
1.2L VVT Engine             34
Front Wheel Drive           26
1.5 Dual VVT-i Engine       26
K Series Petrol Engine      24
F8D Petrol Engine           21
i VTEC Engine               19
Name: Engine_Type, dtype: int64

# CC_Displacement

In [31]:
data.CC_Displacement.nunique()

38

In [32]:
data.CC_Displacement.value_counts().head(10)

1197    268
998      97
1596     62
1199     44
1591     34
1248     33
1496     32
1497     30
999      30
1498     29
Name: CC_Displacement, dtype: int64

# Transmission

In [33]:
data.Transmission.nunique()

5

In [34]:
data.Transmission.value_counts()

5-Speed    749
6-Speed    169
4-Speed     39
7-Speed     16
CVT          3
Name: Transmission, dtype: int64

In [35]:
data['Transmission']= data.get('Transmission').replace('5-Speed', 5)
data['Transmission']= data.get('Transmission').replace('6-Speed', 4)
data['Transmission']= data.get('Transmission').replace('4-Speed', 3)
data['Transmission']= data.get('Transmission').replace('7-Speed', 2)
data['Transmission']= data.get('Transmission').replace('CVT', 1)

# Transmission_Type

In [36]:
data.Transmission_Type.nunique()

2

In [37]:
data.Transmission_Type.value_counts()

Manual       712
Automatic    264
Name: Transmission_Type, dtype: int64

In [38]:
data['Transmission_Type']= data.get('Transmission_Type').replace('Automatic', 2)
data['Transmission_Type']= data.get('Transmission_Type').replace('Manual', 1)

# Power_BHP

In [39]:
data.Power_BHP.nunique()

105

In [40]:
data.Power_BHP.describe()

count    976.000000
mean      91.325758
std       25.713275
min       34.000000
25%       74.720000
50%       83.325000
75%      105.940000
max      177.000000
Name: Power_BHP, dtype: float64

# Torque_Nm

In [41]:
data.Torque_Nm.nunique()

79

In [42]:
data.Torque_Nm.describe()

count    976.000000
mean     144.381045
std       66.780511
min       48.000000
25%      110.000000
50%      114.000000
75%      158.000000
max      380.000000
Name: Torque_Nm, dtype: float64

# Mileage_kmpl

In [43]:
data.Mileage_kmpl.nunique()

151

In [44]:
data.Mileage_kmpl.describe()

count    976.000000
mean      19.509744
std        2.679003
min       10.400000
25%       17.410000
50%       18.900000
75%       21.010000
max       31.190000
Name: Mileage_kmpl, dtype: float64

# Emission

In [45]:
data.Emission.nunique()

3

In [46]:
data.Emission.value_counts()

BS IV     588
BS V      305
BS III     83
Name: Emission, dtype: int64

In [47]:
data['Emission']= data.get('Emission').replace('BS III', 1)
data['Emission']= data.get('Emission').replace('BS IV', 3)
data['Emission']= data.get('Emission').replace('BS V', 2)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Car_Name              976 non-null    object
 1   Make                  976 non-null    int64
 2   Model                 976 non-null    object
 3   Make_Year             976 non-null    int64
 4   Color                 976 non-null    int64
 5   Body_Type             976 non-null    int64
 6   Mileage_Run           976 non-null    float64
 7   No_of_Owners          976 non-null    int64
 8   Seating_Capacity      976 non-null    int64
 9   Fuel_Type             976 non-null    int64
 10  Fuel_Tank_Capacity_L  976 non-null    int64
 11  Engine_Type           976 non-null    object
 12  CC_Displacement       976 non-null    int64
 13  Transmission          976 non-null    int64
 14  Transmission_Type     976 non-null    int64
 15  Power_BHP             976 non-null    float64
 16  Torque_Nm             976 non-null    float64
 17  Mileage_kmpl          976 non-null    float64
 18  Emission              976 non-null    int64
 19  Price                 976 non-null    float64
dtypes: float64(5), int64(12), object(3)
memory usage: 152.6+ KB

In [49]:
data.drop(columns=['Car_Name', 'Model', 'Engine_Type'], axis=1, inplace= True)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Make                  976 non-null    int64
 1   Make_Year             976 non-null    int64
 2   Color                 976 non-null    int64
 3   Body_Type             976 non-null    int64
 4   Mileage_Run           976 non-null    float64
 5   No_of_Owners          976 non-null    int64
 6   Seating_Capacity      976 non-null    int64
 7   Fuel_Type             976 non-null    int64
 8   Fuel_Tank_Capacity_L  976 non-null    int64
 9   CC_Displacement       976 non-null    int64
 10  Transmission          976 non-null    int64
 11  Transmission_Type     976 non-null    int64
 12  Power_BHP             976 non-null    float64
 13  Torque_Nm             976 non-null    float64
 14  Mileage_kmpl          976 non-null    float64
 15  Emission              976 non-null    int64
 16  Price                 976 non-null    float64
dtypes: float64(5), int64(12)
memory usage: 129.8 KB

In [51]:
data.head()

,Make,Make_Year,Color,Body_Type,Mileage_Run,No_of_Owners,Seating_Capacity,Fuel_Type,Fuel_Tank_Capacity_L,CC_Displacement,Transmission,Transmission_Type,Power_BHP,Torque_Nm,Mileage_kmpl,Emission,Price
0,9,2017,12,4,44611.0,3,5,2,45,1498,2,2,109.00,250.00,21.66,3,657000.0
1,16,2016,14,1,20305.0,3,5,3,45,1197,5,1,82.00,115.00,17.19,2,682000.0
2,14,2019,15,3,29540.0,2,5,3,40,1199,5,1,88.50,110.00,16.50,3,793000.0
3,13,2017,7,5,35680.0,3,5,3,28,999,5,1,67.00,91.00,21.70,3,414000.0
4,16,2017,8,5,25126.0,3,5,3,43,1197,5,1,81.86,113.75,18.90,2,515000.0

In [53]:
X= data.drop('Price', axis = 1)

In [54]:
y= data['Price']

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test= train_test_split(X,y,test_size = 0.20, random_state = 45)

# Decision Tree

In [56]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
dt = DecisionTreeRegressor(random_state = 83)

In [58]:
model_params = {'max_depth': [2,3,4,5,6,7,8,9,None],
               'min_samples_split' : [i for i in range (1,11)]}

In [59]:
search = GridSearchCV(dt,model_params,cv = 10)
search.fit(X_train,y_train)
search.best_params_

{'max_depth': 9, 'min_samples_split': 2}

In [61]:
dt = DecisionTreeRegressor(max_depth = 9, min_samples_split = 2)

In [62]:
model = dt.fit(X_train,y_train)

In [63]:
y_pred = model.predict(X_test)

##### evaluation

In [64]:
from sklearn.metrics import mean_squared_error,r2_score

In [65]:
r2_score(y_test,y_pred)

0.9060463735230684

In [66]:
np.sqrt(mean_squared_error(y_test,y_pred))

131198.6037116655

# RANDOM FOREST

In [67]:
from sklearn.ensemble import RandomForestRegressor

In [68]:
rf = RandomForestRegressor(random_state = 83)

In [69]:
params = {'n_estimators':[20,40,60,80,100],
          'max_features':['sqrt',0.25,0.50,0.75,1],
          'max_depth': [2,3,4,5,6,7,8,9,None]}

In [71]:
search = GridSearchCV(rf,params,cv = 10)
search.fit(X_train,y_train)
search.best_params_

{'max_depth': None, 'max_features': 0.5, 'n_estimators': 100}

In [72]:
rf = RandomForestRegressor(n_estimators = 100, max_features =  0.5, max_depth = None)

In [73]:
model = rf.fit(X_train,y_train)

In [74]:
y_pred = model.predict(X_test)

##### evaluation

In [75]:
from sklearn.metrics import mean_squared_error,r2_score

In [76]:
r2_score(y_test,y_pred)

0.9171101187794339

In [77]:
np.sqrt(mean_squared_error(y_test,y_pred))

123231.91510526079

# ADABOOST

In [78]:
from sklearn.ensemble import AdaBoostRegressor

In [79]:
ada = AdaBoostRegressor(random_state = 86)

In [80]:
params = {'n_estimators' : [i for i in range(0,500,50)],
         'learning_rate':[1.0,0.2,0.1,0.01,0.05,0.001]}

In [82]:
search = GridSearchCV(ada,params,n_jobs = -1,cv = 10)
search.fit(X_train,y_train)
search.best_params_

{'learning_rate': 1.0, 'n_estimators': 150}

In [83]:
ada = AdaBoostRegressor(n_estimators = 150,learning_rate = 1,random_state = 83)

In [84]:
model = ada.fit(X_train,y_train)

In [85]:
y_pred = model.predict(X_test)

##### evaluation

In [86]:
from sklearn.metrics import mean_squared_error,r2_score

In [87]:
r2_score(y_test,y_pred)

0.8859174769671644

In [88]:
np.sqrt(mean_squared_error(y_test,y_pred))

144571.27055633432

# GRADBOOST

In [89]:
from sklearn.ensemble import GradientBoostingRegressor

In [90]:
gbc = GradientBoostingRegressor(random_state = 83)

In [91]:
params = {'n_estimators' : [i for i in range(0,400,50)],
         'learning_rate':[1.0,0.2,0.1,0.01,0.05,0.001]}

In [94]:
search = GridSearchCV(gbc,params,n_jobs = -1,cv = 10)
search.fit(X_train,y_train)
search.best_params_

{'learning_rate': 0.1, 'n_estimators': 350}

In [99]:
gbc = GradientBoostingRegressor(n_estimators = 350, learning_rate = 0.1,random_state = 83)

In [100]:
model = gbc.fit(X_train,y_train)

In [101]:
y_pred = model.predict(X_test)

##### evaluation

In [102]:
from sklearn.metrics import mean_squared_error,r2_score

In [103]:
r2_score(y_test,y_pred)

0.934757138295506

In [104]:
np.sqrt(mean_squared_error(y_test,y_pred))

109329.89728429046